# General
/*
!.gitignore

!/HeatTransfer
/HeatTransfer/*
!/HeatTransfer/Property Sheets
!/HeatTransfer/*.sln
!/HeatTransfer/*.vcxproj
!/HeatTransfer/*.vcxproj.user
!/HeatTransfer/*.vcxproj.filters
!/HeatTransfer/scripts/

# Application

!/libs
!/Resources
!/Source
